
<h1> Minhas Tarefas </h1>
<ul>
  <li *ngFor="let todo of todos">
    {{ todo.id }} - {{ todo.title }} |
    <button (click)="markAsDone(todo)"*ngIf="!todo.done" type="button" class="btn btn-success"> CONCLUIR </button> |
    <button (click)="remove(todo)" *ngIf="todo.done" type="button" class="btn btn-danger"> REMOVER </button> | 
    <button (click)="markAsUndone(todo)" *ngIf="todo.done" type="button" class="btn btn-warning"> REFAZER </button>
  </li>
  <form [formGroup]="form">
    <fieldset>
      <label> Titulo </label>
      <input 
        type="text"
        placeholder="Titulo da tarefa"
        maxlength="60"
        formControlName="title"
      >
      <small *ngIf="form.controls.title.invalid"> Campo deve conter de 3 a 60 caracteres </small>
      <button [disabled]="form.invalid" (click)="add()" type="button" class="btn btn-primary"> SALVAR </button>

    </fieldset>
  </form>
</ul>
