<div class="grid-conteiner">
<div class="title"> 
  <h1> Minhas Tarefas </h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> ID </th>
      <th scope="col"> Descrição </th>
      <th scope="col">  </th>
      <th scope="col">  </th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let todo of todos">
      <th scope="row">{{todo.id}}</th>
      <th> {{todo.title}}</th>
      <th><button (click)="markAsDone(todo)"*ngIf="!todo.done" type="button" class="btn btn-success"> CONCLUIR </button> </th>
      <th><button (click)="remove(todo)" *ngIf="todo.done" type="button" class="btn btn-danger"> REMOVER </button></th>
      <th><button (click)="markAsUndone(todo)" *ngIf="todo.done" type="button" class="btn btn-warning"> REFAZER </button> </th>
    </tr>
  </tbody>
</table>

  <form [formGroup]="form">
    <fieldset>
      <label> Titulo </label>
      <input 
        type="text"
        placeholder="Titulo da tarefa"
        maxlength="60"
        formControlName="title"
      >
      <small *ngIf="form.controls.title.invalid"> Campo deve conter de 3 a 60 caracteres </small>
      <button [disabled]="form.invalid" (click)="add()" type="button" class="btn btn-primary"> SALVAR </button>

    </fieldset>
  </form>

</div>